@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "Strona Główna";
    @model IPagedList<AdModel>;
}
<h1>Tablica ogłoszeń</h1>

<div id="wrap" class="d-flex flex-wrap justify-content-around">
    @{
        int i = 0;
        foreach (var ad in Model)
        {
            <div id="id-@i" class="advertisement">
                <h3>@ad.Title</h3>
                <hr />
                <p>@ad.DateCreated.ToShortDateString()</p>
                <p class="content hidden">@ad.Content</p>
            </div>
            i++;
        }
    }  
</div>
<div class="pager">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new {page = page}))
</div>

<script src="~/js/index.js"></script>