@{
    ViewData["Title"] = "Strona Główna";
    @model TablicaOgloszen.Models.AdsFromDBModel;
}

<div id="wrap" class="d-flex flex-wrap justify-content-around">
    @{
        int i = 0;
        foreach (var ad in Model.ListOfAds)
        {
            <div id="id-@i" class="advertisement">
                <h3>@ad.Title</h3>
                <hr />
                <p>@ad.DateCreated.ToShortDateString()</p>
                <p class="content hidden">@ad.Content</p>
            </div>
            i++;
        }
    }
</div>

<script src="~/js/index.js"></script>