@{
    ViewData["Title"] = "Dodaj ogłoszenie";
}

<div class="d-flex flex-column align-items-center justify-content-center wrap">
    <h1>Dodaj ogłoszenie</h1>
    <br />
    <br />
    <form id="form" asp-action="CheckAd" asp-controller="Home">
        <h3>Wprowadź tytuł ogłoszenia:</h3>
        <input type="text" id="title" name="title" value="" size="60" maxlength="60" />
        <br />
        <br />
        <h3>Wprowadź treść ogłoszenia:</h3>
        <textarea name="content" id="content" value="" maxlength="2000"></textarea>
        <br />
        <br />
        <input id="errorCode" name="errorCode" type="hidden" value="" />
        <input type="submit" id="submit" class="btn-primary" value="Potwierdź" />
    </form>
</div>

<script src="~/js/newAdvertisement.js"></script>