.advertisement {
    min-height: 130px;
    width: 800px;
    background-color: lightpink;
    margin: 30px 30px 60px 30px;
    text-align: center;
    padding: 15px;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 15px;
    transition: .2s;
}

    .advertisement:hover {
        cursor: pointer;
    }

.hidden {
    display: none;
}

.pagination{
    font-size: 22px;
    justify-content: center;
}

.pagination > * {
    margin: 10px;
}

h1{
    text-align:center;
}